/* style.module.css */

.form {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form img {
    max-width: 350px;
    margin-bottom: 20px;
  }
  
  .form_email,
  .form_password {
    margin-bottom: 15px;
  }
  
  .form_email label,
  .form_password label {
    display: block;
    font-weight: bold;
  }
  
  .form_email input,
  .form_password input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form_email p,
  .form_password p {
    color: red;
    margin-top: 5px;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  